#gameboard{
  width: 400px;
  height: 400px;
}

.gamesquare, .snakeHead, .snakeBody{
  height: 10px;
  width: 10px;
  outline: 1px solid;
  background-color: white;
  display: inline-block;
  float: left;
}

.snakeHead{
  background-color: red;
}

.snakeBody{
  background-color: green;
}
