#gameboard{
  width: 500px;
  height: 500px;
}

.gamesquare, .snakeHead, .snakeBody{
  height: 12.5px;
  width: 12.5px;
  outline: 1px solid;
  background-color: white;
  display: inline-block;
  float: left;
}

.snakeHead{
  background-color: red;
}

.snakeBody{
  background-color: green;
}

.food{
  background-color: yellow;
}
